{
  "cSpell.ignoreWords": [
    "aiohttp",
    "asyncio",
    "bdist",
    "blackbox",
    "br",
    "camelcase",
    "esnext",
    "facetime",
    "favorite",
    "favourite",
    "grive",
    "iosevka",
    "itunes",
    "khtml",
    "kwin",
    "linebreak",
    "macprefs",
    "nargs",
    "noto",
    "portfile",
    "pypi",
    "referer",
    "roboto",
    "sdist",
    "setuptools",
    "submodules",
    "swiftformat",
    "udvare",
    "uninstallation"
  ],
  "python.pythonPath": "/Users/tatsh/.virtualenvs/usps-track/bin/python"
}
